/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/


.post-content li ul,
.post-content li ol {
    margin-bottom: 0;
}

/* Forces the background variables to match, overriding the theme completely */
:root, .dark {
    --entry: var(--theme) !important;
}

/* Forces the actual boxes on the index page to be completely transparent */
.post-entry {
    background: transparent !important;
    box-shadow: none !important; /* Optional: removes the shadow so it blends perfectly */
}